@model Task_mangment_system.Models.TeamMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeamMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Title       </td>
            <td>Description </td>
            <td>Status      </td>
            <td>Priority    </td>
            <td>Deadline    </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Status</td>
                    <td>@item.Priority</td>
                    <td>@item.Deadline</td>
                    <td>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-action="Update" class="btn btn-outline-dark" asp-route-id="@Model.TeamMemberId">Update member</a>
    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@Model.TeamMemberId">Delete member</a>
    <a asp-action="Index">Back to List</a>
</div>
